/SingleResponsibilityPrinciple/nbproject/
/SingleResponsibilityPrinciple/target/
.vs
/OpenClosePrinciple/nbproject/
/OpenClosePrinciple/target/
/InterfaceSegregationPrinciple/nbproject/
/InterfaceSegregationPrinciple/target/
